<?php
// DB Params
define('DB_HOST', 'localhost');
define('DB_USER', 'root');
define('DB_PASS', '');
define('DB_NAME', 'share_posts_app');

// App Root
define('APPROOT', dirname(dirname(__FILE__)));
// URL Root
define('URLROOT', 'http://share-posts.example.local');
// Site Name
define('SITENAME', 'SharePosts');
// App Version
define('APPVERSION', '1.0.0');
